* {
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #fcffa6b5;
    --second-color: #C1FFD7;
    --third-color: #B5DEFF;
    --fourth-color: #CAB8FF;
    --whiteish: #eee;
}

html {
    font-size: 16px;
    font-family: 'Handlee', cursive;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/* HERO SECTION */

header {
    width: 100%;
    display: flex;
    flex-direction: column;
}

nav {
    position: relative;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem;
    background-color: var(--primary-color);
    overflow: hidden;
}


nav .logo {
    font-size: 1.7rem;
    letter-spacing: 3px;
    transition: transform 0.4s ease-in-out;
}

nav .logo:hover {
    transform: scale(1.2);

}

nav ul {
    display: flex;
    column-gap: 5rem;
}

nav ul li a {
    display: inline-block;
    position: relative;
    font-size: 1.3rem;
    padding: 1rem;
    transition: transform .5s ease;
}

nav ul li a:hover {
    transform: translateY(5px) scale(1.2);

}

nav ul li a::before {
    content: "";
    position: absolute;
    bottom: 1rem;
    left: 0.6rem;
    width: 0;
    height: 3px;
    background-color: var(--fourth-color);
    transition: all .4s ease-in 0.3s;
}



nav ul li a:hover::before {
    width: 80%;
}


nav .hamburger {
    display: none;
    font-size: 1.8rem;
}




.hero {
    position: relative;
    background-image: url("/images-min/hero-bg-min.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    display: grid;
    place-content: center;
    text-align: center;
    row-gap: 3rem;
}

.hero::before {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.5;
}

.hero h1 {
    position: relative;
    font-size: 5rem;
    color: var(--whiteish);
}

.hero p {
    position: relative;
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 2rem;
}

/* GALLERY SECTION */

main {
    height: auto;
    background-image: linear-gradient(to right top, #fcffa6, #edffae, #e0ffb8, #d5ffc1, #cbffcb, #bdfed5, #b2fcdf, #aafae9, #a2f5f5, #a2eefd, #a9e6ff, #b5deff);
}

.gallery {
    width: 90%;
    padding: 3rem 2rem;
    margin-inline: auto;
}

.gallery-imgs {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5rem;
    width: 100%;

}

.gallery-imgs img {
    width: 30%;
    box-shadow:
        -50px -50px 0 -45px rgba(0, 0, 0, 0.8),
        50px 50px 0 -45px rgba(0, 0, 0, 0.8);
}

/* FOOTER SECTION */

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    row-gap: 2rem;
    background-color: var(--fourth-color);
    color: rgba(0, 0, 0, 0.8);
}

footer h3 {
    font-size: 1.4rem;

}

footer .social {
    display: flex;
}

.social li a {
    font-size: 1.7rem;
    padding: 0 1rem;

}

.social li a i {
    transition: transform .4s ease-in-out;
}

.social li a i:hover {
    transform: translateY(-10px) scale(1.3);

}